[Desktop Entry]
Type=Application
Name=PtBatterySystemTray
TryExec=ptbatterysystemtray
Exec=ptbatterysystemtray
OnlyShowIn=LxQt;

#TRANSLATIONS_DIR=translations


# Translations
Name[zh_TW]=系統列
